<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Optional: Remove if internet access is not required -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required permissions for camera and storage -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Optional: Include if using the microphone for video recording -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <!-- Optional: Include if using location services -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
     

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <meta-data
    android:name="com.google.android.geo.API_KEY"
    android:value="AIzaSyBJfbrEPgWru2MTn-uVcMiLi2QRXHbYybY" />
    </application>
</manifest>
